ul {
    list-style: none;
    padding:0 0.7em;
    border-left: 2px dotted black;
    border-color: blue;
}
ul.clearBorder{
    border-left: none;
}

li {
    padding:0.8em 0.6em 0;
}

li.clearPadding{
    padding:0 0.6em;
    margin-top:0.5em;
}

li:before {
    content: "• ";
    color: blue;
}
